body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

.container > * {
    pointer-events: auto;
}

.title-box {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid black;
    width: 40%;
    margin-left: 0px;
    padding-left: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    border-left: none;
}

/*makes title box same width as selection box for small screens */

/* @media (max-width: 800px){
    .title-box{
        width: 245px;
    }
} */

.selection-box {
    grid-column: 1;
    grid-row: 2;
    width: 275px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 30px;
    background-color: #f0f0f0;
    border: 2px solid black;
    overflow-y: auto;
    border-left: none;
}

.energy-selection-header {
    margin-top: 30px;
}

.energy-selection {
    margin-bottom: 40px;
}

.basemap-selection {
    margin-bottom: 40px;
}

.toggle-transmission {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.stats-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid black;
    width: 200px;
    text-align: center;
}

.legend-box {
    position: absolute;
    bottom: 10px;
    left: 320px;
    padding: 0px;
    background-color: #f0f0f0;
    border: 2px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
}