body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    pointer-events: none;

}

.container > *{
    pointer-events: auto;
}

.title-box {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid black;
    width: 40%;
    margin-left: 0px;
    padding-left: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    border-left: none;
    z-index: 2;
}



/* selection box region */
.selection-box {
    grid-column: 1;
    grid-row: 2;
    width: 275px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 30px;
    background-color: #f0f0f0;
    border: 2px solid black;
    overflow-y: auto;
    border-left: none;
    border-top: none;
    border-bottom: none;
    z-index: 2;
}

.energy-selection-header {
    margin-top: 30px;
    font-size: 22px;
}

.energy-selection {
    margin-bottom: 80px;
    position: relative;

}

.energy-selection::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -5px;
  right: 30px;
  border-bottom: 2px solid black;
}

.basemap-selection-header {
  font-size: 22px;
}

.basemap-selection {
  margin-bottom: 40px;
  position: relative;
}

.basemap-selection::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -5px;
  right: 30px;
  border-bottom: 2px solid black;
}


.toggle-transmission {
  margin-top: 80px;
  margin-bottom: 10px;
  font-weight: bold;
}




/* stats dropdown */
.stats-dropdown-header {
  font-size: 18px;
}

.stats-dropdown {
  position: absolute;
  top: 0px;
  right: 10px;
}


.stats-dropdown-text {
    /* position: absolute; */
    /* top: 0px; */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-top: none;
    width: 300px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    z-index: 2;
  }
  
  .stats-dropdown-chevron {
    position: absolute;
    top: 45px;
    right: 100px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-top: none;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: top 0.3s ease;
    z-index: 2;
  }

  .stats-dropdown-chevron:hover {
    background-color: #ffffff;
    outline: 2px solid #add8e6; 
    box-shadow: 0 0 8px #add8e6;
  }
  
  .stats-dropdown-chevron.expanded {
    top: calc(100% + 50vh + 46px);
  }
  
  .stats-dropdown-chevron i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
  }
  
  .stats-dropdown-chevron .fa-chevron-up {
    opacity: 0;
  }
  
  .stats-dropdown-chevron.expanded .fa-chevron-down {
    opacity: 0;
  }
  
  .stats-dropdown-chevron.expanded .fa-chevron-up {
    opacity: 1;
  }
  
  .blank-box {
    position: absolute;
    top: 45px;
    right: 0px;
    width: 310px;
    height: 0;
    background-color: #f0f0f0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    z-index: 2;
    pointer-events: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: height 0.3s ease;
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }

  .blank-box::-webkit-scrollbar {
    display: none; /* Hide the scroll bar for WebKit browsers (Chrome, Safari) */
  }

  
  .blank-box::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 40px;
    right: 40px;
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .stats-dropdown-chevron.expanded + .blank-box {
    height: calc(100% + 50vh);
    overflow-y: auto;
    border-bottom: 2px solid black;
  }

  .stats-dropdown-chevron.expanded + .blank-box::after {
    transform: scaleX(1);
}

  .blank-box h2 {
    margin-top: 10;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .blank-box .distance-info {
    position: relative;
    margin-top: 20px;
    padding-top: 15px;
  }
  
  .blank-box .distance-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    border-top: 2px solid black;
  }

  .blank-box h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 30px; 
    padding-right: 30px; 
  }
  
  .blank-box p {
    margin: 5px 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }

  .blank-box p.energy-count {
    font-size: 14px; /* Adjust the font size as needed */
    margin: 2px 0; /* Adjust the margin values to reduce the spacing */

  }

  .blank-box .distance-info p {
    font-size: 14px; /* Adjust the font size to match the energy source texts */
    margin: 2px 0; /* Adjust the margin values to match the energy source texts */
  }



/* legend */
.legend-box {
    position: absolute;
    bottom: 12px;
    left: 320px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid black;
    width: 100px;
    height: 140px;
    text-align: center;
    z-index: 2;
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.legend-box h4 {
  margin-top: 0;
}

.legend-box .legend-title {
  margin-top: 0;
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-label {
  font-size: 12px;
}




/* github icon */
.github-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 24px;
  z-index: 3;
}

.github-icon a {
  color: #000;
  text-decoration: none;
}

.github-icon a:hover {
  color: #999;
}



/* bottom right buttons */
.map-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.map-controls button {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
  border-radius: 0px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #f0f0f0;
  outline: 2px solid black;
  transition: background-color 0.1s, outline 0.1s;
}

.map-controls button:hover {
  background-color: #ffffff;
  outline: 2px solid #add8e6; 
  box-shadow: 0 0 8px #add8e6;
}

.map-controls button i {
  color: black; 
}


